body {
  margin: 0;
  padding-bottom: 60px; /* nav 높이만큼 여백을 추가 */
}

/* 리스트 헤더 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px 10px;
}

.header-left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  font-family: Pretendard;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.29px;
  text-align: center;
}

.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.header-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider li img {
  width: 100%;
  height: 380px;
}

/* 슬라이드 */
.sliderwrap {
  position: relative;
  width: 400px;
}

.sliderwrap img {
  object-fit: cover;
  width: 400px;
  height: 200px;
}

.sliderwrap .bx-pager {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 50%;
  bottom: 23px;
  transform: translateX(-50%);
  gap: 7px;
}

.sliderwrap .bx-pager div {
  display: inline-block;
}

.sliderwrap .bx-pager div a {
  display: block;
  width: 6px;
  height: 6px;
  background: #d9d9d9;
  color: transparent;
  border-radius: 100%;
}

.bx-controls-direction {
  display: none;
}

.sliderwrap .bx-pager div .active {
  background: #2a47bf;
}

/* 상세 주류 정보 텍스트 */
section[aria-label="주류 정보"] {
  padding: 30px 20px;
}

.brand {
  color: #5d7cff;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.71px;
  text-align: left;
  margin-bottom: 5px;
}

.title {
  color: #000000;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.detail-info {
  margin-top: 18px;
}

.product-wrap {
  display: flex;
  margin-bottom: 5px;
}

.product-detail {
  min-width: 100px;
  color: #aaaaaa;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.product-detail-result {
  color: #555555;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.alcohol {
  color: #eb5a41;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.contour {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
}

/* 상세 주류 정보 텍스트 */
section[aria-label="상세정보"] {
  padding: 20px;
}

.detail-title {
  background: #007bff; /* 제목 배경색 */
  color: white; /* 제목 글자색 */
  padding: 10px 20px; /* 패딩 */
  display: inline-block; /* 인라인 블록으로 설정 */
  margin-top: -20px; /* 상단으로 약간 이동 */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  position: relative; /* 상대적 위치 */
  z-index: 1; /* Z-인덱스 설정 */
}

section[aria-label="상세정보"] img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 0 7px 5px 7px;
  margin-right: 5px;
}

input[type="radio"]:checked + label {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  border-bottom: 1px solid #111111;
  cursor: pointer;
}

.conbox {
  width: 100%;
  height: 100%;
  display: none;
}

input[id="tab01"]:checked ~ .con1 {
  display: block;
  padding-top: 15px;
}

input[id="tab02"]:checked ~ .con2 {
  display: block;
  padding-top: 15px;
}

input[id="tab03"]:checked ~ .con2 {
  display: block;
  padding-top: 15px;
}

.tab-contour {
  width: 100%;
  height: 1px;
  background-color: #f3f3f3;
}

div[aria-label="주문"] {
  position: fixed; /* 위치를 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 0; /* 왼쪽 끝에서 시작 */
  width: 100%; /* 전체 너비를 차지 */
  background-color: #fff; /* 배경색 추가 */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* 상단 그림자 효과 */
  z-index: 1000; /* 다른 내용 위에 표시되도록 z-index 설정 */
}

.bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px 20px; /* 패딩 조정 */
}

.like-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f3f5;
  border-radius: 5px;
}

.order-button {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  background-color: #2a47bf;
  color: white;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  border-radius: 5px;
  border: none;
}
