* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(95, 69, 117);
  margin: 0 auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.intro {
  position: fixed;
  left: calc(-36.2rem + 50vw);
  top: 5rem;
  width: 100%;
  max-width: 30.2rem;
  height: 100%;
}

.intro-content {
  display: flex;
  flex-direction: column; /* 세로 방향으로 설정 */
  justify-content: space-between; /* 첫 번째 요소는 상단, 마지막 요소는 하단 */
  height: 80%; /* 적절한 높이 설정 */
}

.main-wrap {
  position: relative;
  left: calc(50% - 45px);
  margin: 0;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.13);
  z-index: 10;
  max-width: 640px;
  background: #fff;
  min-height: 100vh;
  overflow-y: scroll;
  padding-bottom: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 1200px) {
  .intro {
    display: block !important;
  }
  .bottom-sheet {
    left: calc(50vw - 45px);
  }
}

@media (max-width: 1199px) {
  .intro {
    display: none;
  }
  .bottom-sheet {
    left: 50%;
    transform: translateX(-50%);
  }

  .main-wrap {
    position: relative;
    left: auto;
    transform: none;
    margin: 0 auto;
  }
}
