body {
  margin: 0;
}

/* 리스트 헤더 */
header {
  padding: 5px 5px 5px 0;
}

.search-form {
  display: flex;
  align-items: center;
}

.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  font-size: 24px;
  padding: 10px 20px;
}

.back-button {
  border: none;
  background: none;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
}

.search-input {
  flex: 1;
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 24px;
}

.search-input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* 하단 내비게이션 바 */
nav[aria-label="하단 네비게이션 바"] {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav[aria-label="하단 네비게이션 바"] ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px 22px 20px;
  /* padding-bottom: 15px; */
  margin: 0;
  list-style: none;
}

nav[aria-label="하단 네비게이션 바"] ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-icon-wrapper {
  padding: 7px 16px;
}

nav[aria-label="하단 네비게이션 바"] ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #888888;
  font-size: 12px;
}

nav[aria-label="하단 네비게이션 바"] ul li .active {
  color: #000;
}

.order-buttonWrap {
  position: relative;
}

.order-buttonWrap a {
  margin-top: 4px;
}

.order-button {
  position: absolute;
  top: -35px;
}

.order-circle-outline {
  position: absolute;
  top: -42px;
  width: 72px;
  height: 72px;
  background-color: #2a47bf;
  border-radius: 50%;
  opacity: 0.15;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.order-circle {
  width: 58px;
  height: 58px;
  background-color: #2a47bf;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.order-button .order-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.order-circle img {
  width: 12x;
  height: 18px;
  margin-bottom: 3px;
}

.order-circle span {
  margin-top: 2px; /* 다른 내비게이션 항목과 같은 높이로 조정 */
  color: #fff;
  font-size: 9px;
  font-weight: 800;
  line-height: 10.74px;
  text-align: center;
}
