<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주류 주문 서비스</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    />
    <!-- 기본 태그 스타일 초기화 -->
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- 메인 스타일 -->
    <link rel="stylesheet" href="../static/css/list.css" />
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="header-left-wrapper">
        <div class="svg-wrapper">
          <img
            src="../static//assets/img/chevron-left.svg"
            alt="이전 회살표 아이콘"
            srcset=""
          />
        </div>
      </div>
      <h2>전통주 > 보해</h2>
      <div class="header-right-wrapper">
        <div class="svg-wrapper">
          <img
            src="../static//assets/img/검색.svg"
            alt="검색 아이콘"
            srcset=""
          />
        </div>
        <div class="svg-wrapper">
          <img src="../static//assets/img/hamburger.svg" alt="검색 아이콘"
          srcset="" / >
        </div>
      </div>
    </header>

    <!-- 메인 -->
    <main>
      <section aria-label="리스트 필터">
        <div class="list-total">
          <div>
            <img
              src="../static/assets/img/report.svg"
              alt="리포트 아이콘"
              srcset=""
            />
          </div>
          <span>총 68개</span>
        </div>

        <div class="list-filter">
          <img
            src="../static/assets/img/chevron-filter.svg"
            alt="리스트 필터 아이콘"
            srcset=""
          />
          <span>인기순</span>
        </div>
      </section>

      <section aria-label="주류 리스트">
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
        <article class="liquor-item">
          <img
            src="../static/assets/img/카스라이트.png"
            alt="카스 라이트 캔"
            class="liquor-image"
          />

          <div class="liquor-info">
            <div class="info-header">
              <p class="model-name">주류모델명 01</p>
              <img
                class="like-icon"
                src="../static/assets/img/heart-fill.png"
                alt="좋아요 아이콘"
                srcset=""
              />
            </div>
            <p class="liquor-title">보해</p>
            <p class="brand">우리마을 막걸리</p>
            <p class="alcohol-content">알코올 도수 4.5%</p>
          </div>
        </article>
      </section>
    </main>

    <!-- 하단 내비게이션 -->
    <nav aria-label="하단 네비게이션 바">
      <ul>
        <li>
          <div class="nav-icon-wrapper">
            <img src="/static/assets/img/홈.svg" alt="" />
          </div>
          <a href="#" class="active">홈</a>
        </li>
        <li>
          <div class="nav-icon-wrapper">
            <img src="/static/assets/img/조회.svg" alt="" />
          </div>
          <a href="#">조회</a>
        </li>
        <li class="order-buttonWrap">
          <div class="order-circle-outline"></div>
          <div class="order-button">
            <div class="order-circle">
              <img src="/static/assets/img/주문.svg" alt="" />
              <span>ORDER</span>
            </div>
          </div>

          <div style="opacity: 0" class="nav-icon-wrapper">
            <img src="/static/assets/img/주판.svg" alt="" />
          </div>
          <a href="#">주문</a>
        </li>
        <li>
          <div class="nav-icon-wrapper">
            <img src="/static/assets/img/통계.svg" alt="" />
          </div>
          <a href="#">통계</a>
        </li>
        <li>
          <div class="nav-icon-wrapper">
            <img src="/static/assets/img/주판.svg" alt="" />
          </div>
          <a href="#">주판</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
