<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주류 주문 서비스</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    />
    <!-- 기본 태그 스타일 초기화 -->
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- 메인 스타일 -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <!-- 공통 스타일 -->
    <link rel="stylesheet" href="../static/css/layout.css" />

    <style>
      .bx-wrapper {
        box-shadow: none !important; /* 테두리 제거 */
        border: none !important; /* 테두리 제거 */
        background: none !important; /* 배경 제거 */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="intro">
        <div class="intro-content">
          <h3 class="logo">SUL ORDER</h3>
          <p>주류 1등 쇼핑몰</p>
        </div>
      </div>

      <div class="main-wrap">
        <!-- 헤더 -->
        <header>
          <h3 class="logo">SUL ORDER</h3>
          <div class="header-sidemenu-btn">
            <img src="../static/assets/img/hamburger.svg" alt="" />
          </div>
        </header>

        <!-- 메인 -->
        <main>
          <!-- 유저정보 -->
          <section aria-label="유저 정보">
            <div class="user-info">
              <span class="user-name">오비일번지님</span>
              <button class="order-btn"><span>주류주문</span></button>
            </div>
            <p class="welcome-msg">주류주문서비스에 오신 것을 환영합니다.</p>
          </section>

          <!-- 메인 배너 -->
          <section aria-label="메인 배너" class="main-section">
            <div class="main-banner-wrap">
              <ul class="slider">
                <li>
                  <img src="../static/assets/img/top_kmi.png" />
                </li>
                <li>
                  <img src="../static/assets/img/top_order.jpg" />
                </li>
              </ul>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
            <script>
              $(document).ready(function () {
                var slider = $(".slider").bxSlider({
                  wrapperClass: "sliderwrap",
                  pagerType: "short",
                  auto: true,
                  // pagerShortSeparator: " / ",
                });
              });
            </script>
          </section>

          <!-- 주류 마켓 -->
          <section aria-label="주류마켓">
            <h2>주류마켓</h2>
            <ul class="market-grid">
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/국산맥주.png"
                      alt="국산맥주"
                    />
                  </div>
                </a>
                <span>국산맥주</span>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/수입맥주.png"
                      alt="수입맥주"
                    />
                  </div>
                  <span>수입맥주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/희석식소주.png"
                      alt="회석식소주"
                    />
                  </div>
                  <span>회석식소주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/증류식소주.png"
                      alt="증류식소주"
                    />
                  </div>
                  <span>증류식소주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/민속주.png" alt="민속주" />
                  </div>
                  <span>민속주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/전통주.png" alt="전통주" />
                  </div>
                  <span>전통주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/위스키.png" alt="위스키" />
                  </div>
                  <span>위스키</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/보드카.png" alt="보드카" />
                  </div>
                  <span>보드카</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/리큐르.png" alt="리큐르" />
                  </div>
                  <span>리큐르</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/와인.png" alt="와인" />
                  </div>
                  <span>와인</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/일본사케.png"
                      alt="일본사케"
                    />
                  </div>
                  <span>일본사케</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/청주.png" alt="청주" />
                  </div>
                  <span>청주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/중국술.png" alt="중국술" />
                  </div>
                  <span>중국술</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/고량주.png" alt="고량주" />
                  </div>
                  <span>고량주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img src="../static/assets/img/탁주.png" alt="탁주" />
                  </div>
                  <span>탁주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/기타제재주.png"
                      alt="기타제주주"
                    />
                  </div>
                  <span>기타제주주</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div>
                    <img
                      src="../static/assets/img/무알콜(비주류).png"
                      alt="무알콜(비주류)"
                    />
                  </div>
                  <span>무알콜(비주류)</span>
                </a>
              </li>
            </ul>
          </section>

          <!-- 여러개 한번에 보이는 배너 -->
          <section aria-label="다중 슬라이드">
            <div class="multi-banner-wrap">
              <ul class="multi-banner">
                <li>
                  <img
                    src="https://www.purpledog.co.kr/_next/image?url=https%3A%2F%2Fpurpledog-public.s3.ap-northeast-2.amazonaws.com%2Fproduct%2F124291%2Fthumbnail%2F%E1%84%85%E1%85%A1%E1%84%87%E1%85%B3%E1%84%82%E1%85%B5%E1%84%85%E1%85%B3%20%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%87%E1%85%B5%E1%84%82%E1%85%A5%E1%86%AB%E1%84%89%E1%85%B3%20%E1%84%91%E1%85%B5%E1%84%82%E1%85%A9%E1%84%90%E1%85%A1%E1%84%8C%E1%85%B1%20%E1%84%86%E1%85%A9%E1%84%87%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%8B%E1%85%B0%E1%86%B8%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%20%E1%84%8F%E1%85%B3%E1%84%80%E1%85%B5_20230306083957.png&w=1080&q=100"
                  />
                </li>
                <li>
                  <img
                    src="https://www.purpledog.co.kr/_next/image?url=https%3A%2F%2Fpurpledog-public.s3.ap-northeast-2.amazonaws.com%2Fproduct%2F124291%2Fthumbnail%2F%E1%84%85%E1%85%A1%E1%84%87%E1%85%B3%E1%84%82%E1%85%B5%E1%84%85%E1%85%B3%20%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%87%E1%85%B5%E1%84%82%E1%85%A5%E1%86%AB%E1%84%89%E1%85%B3%20%E1%84%91%E1%85%B5%E1%84%82%E1%85%A9%E1%84%90%E1%85%A1%E1%84%8C%E1%85%B1%20%E1%84%86%E1%85%A9%E1%84%87%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%8B%E1%85%B0%E1%86%B8%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%20%E1%84%8F%E1%85%B3%E1%84%80%E1%85%B5_20230306083957.png&w=1080&q=100"
                  />
                </li>
                <li>
                  <img
                    src="https://www.purpledog.co.kr/_next/image?url=https%3A%2F%2Fpurpledog-public.s3.ap-northeast-2.amazonaws.com%2Fproduct%2F124291%2Fthumbnail%2F%E1%84%85%E1%85%A1%E1%84%87%E1%85%B3%E1%84%82%E1%85%B5%E1%84%85%E1%85%B3%20%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%87%E1%85%B5%E1%84%82%E1%85%A5%E1%86%AB%E1%84%89%E1%85%B3%20%E1%84%91%E1%85%B5%E1%84%82%E1%85%A9%E1%84%90%E1%85%A1%E1%84%8C%E1%85%B1%20%E1%84%86%E1%85%A9%E1%84%87%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%8B%E1%85%B0%E1%86%B8%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%20%E1%84%8F%E1%85%B3%E1%84%80%E1%85%B5_20230306083957.png&w=1080&q=100"
                  />
                </li>
                <li>
                  <img
                    src="https://www.purpledog.co.kr/_next/image?url=https%3A%2F%2Fpurpledog-public.s3.ap-northeast-2.amazonaws.com%2Fproduct%2F124291%2Fthumbnail%2F%E1%84%85%E1%85%A1%E1%84%87%E1%85%B3%E1%84%82%E1%85%B5%E1%84%85%E1%85%B3%20%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%87%E1%85%B5%E1%84%82%E1%85%A5%E1%86%AB%E1%84%89%E1%85%B3%20%E1%84%91%E1%85%B5%E1%84%82%E1%85%A9%E1%84%90%E1%85%A1%E1%84%8C%E1%85%B1%20%E1%84%86%E1%85%A9%E1%84%87%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%8B%E1%85%B0%E1%86%B8%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%20%E1%84%8F%E1%85%B3%E1%84%80%E1%85%B5_20230306083957.png&w=1080&q=100"
                  />
                </li>
                <li>
                  <img
                    src="https://www.purpledog.co.kr/_next/image?url=https%3A%2F%2Fpurpledog-public.s3.ap-northeast-2.amazonaws.com%2Fproduct%2F124291%2Fthumbnail%2F%E1%84%85%E1%85%A1%E1%84%87%E1%85%B3%E1%84%82%E1%85%B5%E1%84%85%E1%85%B3%20%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%87%E1%85%B5%E1%84%82%E1%85%A5%E1%86%AB%E1%84%89%E1%85%B3%20%E1%84%91%E1%85%B5%E1%84%82%E1%85%A9%E1%84%90%E1%85%A1%E1%84%8C%E1%85%B1%20%E1%84%86%E1%85%A9%E1%84%87%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%8B%E1%85%B0%E1%86%B8%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%20%E1%84%8F%E1%85%B3%E1%84%80%E1%85%B5_20230306083957.png&w=1080&q=100"
                  />
                </li>
                <li>
                  <img
                    src="https://www.purpledog.co.kr/_next/image?url=https%3A%2F%2Fpurpledog-public.s3.ap-northeast-2.amazonaws.com%2Fproduct%2F124291%2Fthumbnail%2F%E1%84%85%E1%85%A1%E1%84%87%E1%85%B3%E1%84%82%E1%85%B5%E1%84%85%E1%85%B3%20%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%87%E1%85%B5%E1%84%82%E1%85%A5%E1%86%AB%E1%84%89%E1%85%B3%20%E1%84%91%E1%85%B5%E1%84%82%E1%85%A9%E1%84%90%E1%85%A1%E1%84%8C%E1%85%B1%20%E1%84%86%E1%85%A9%E1%84%87%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%8B%E1%85%B0%E1%86%B8%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%20%E1%84%8F%E1%85%B3%E1%84%80%E1%85%B5_20230306083957.png&w=1080&q=100"
                  />
                </li>
              </ul>
            </div>

            <script>
              $(document).ready(function () {
                var slider = $(".multi-banner").bxSlider({
                  wrapperClass: "multi-banner-wrap",
                  auto: true,
                  minSlides: 5,
                  maxSlides: 5,
                  slideWidth: 100,
                  slideMargin: 10,
                  moveSlides: 1,
                  pager: false,
                  // pagerShortSeparator: " / ",
                });
              });
            </script>
          </section>

          <div class="contour"></div>
          <!-- 공지사항 -->
          <section aria-label="공지사항">
            <div>
              <h2>공지사항</h2>
              <div>
                <a href=""><span>전체보기</span></a>
              </div>
            </div>
            <ul class="notice-list">
              <li>
                <span>개인정보처리방침 수정내용 안내</span>
                <time datetime="2024-03-25">2024.03.25</time>
              </li>
              <li>
                <span>주류마켓 이용 시 주의사항</span>
                <time datetime="2024-03-25">2024.03.25</time>
              </li>
              <li>
                <span>주류마켓 서비스 이용 변경 안내</span>
                <time datetime="2024-03-25">2024.03.25</time>
              </li>
            </ul>
          </section>

          <!-- 하단 슬라이드 -->
          <section aria-label="하단 슬라이드">
            <div class="footer-banner-wrap">
              <ul class="footer-banner">
                <li>
                  <img src="../static/assets/img/하단배너.png" />
                </li>
                <li>
                  <img src="../static/assets/img/하단배너.png" />
                </li>
              </ul>
            </div>

            <script>
              $(document).ready(function () {
                var slider = $(".footer-banner").bxSlider({
                  wrapperClass: "footer-banner-wrap",
                  auto: true,
                  // pagerShortSeparator: " / ",
                });
              });
            </script>
          </section>
        </main>

        <!-- 하단 내비게이션 -->
        <nav aria-label="하단 네비게이션 바">
          <ul>
            <li>
              <div class="nav-icon-wrapper">
                <img src="/static/assets/img/홈.svg" alt="" />
              </div>
              <a href="#" class="active">홈</a>
            </li>
            <li>
              <div class="nav-icon-wrapper">
                <img src="/static/assets/img/조회.svg" alt="" />
              </div>
              <a href="#">조회</a>
            </li>
            <li class="order-buttonWrap">
              <div class="order-circle-outline"></div>
              <div class="order-button">
                <div class="order-circle">
                  <img src="/static/assets/img/주문.svg" alt="" />
                  <span>ORDER</span>
                </div>
              </div>

              <div style="opacity: 0" class="nav-icon-wrapper">
                <img src="/static/assets/img/주판.svg" alt="" />
              </div>
              <a href="#">주문</a>
            </li>
            <li>
              <div class="nav-icon-wrapper">
                <img src="/static/assets/img/통계.svg" alt="" />
              </div>
              <a href="#">통계</a>
            </li>
            <li>
              <div class="nav-icon-wrapper">
                <img src="/static/assets/img/주판.svg" alt="" />
              </div>
              <a href="#">주판</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
